<app-header></app-header>

<div class="container pt-1">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group me-2" role="group">
      <div class="btn-group me-2" role="group">
        <!-- Federacion -->
        <div class="card mb-3">
          <h3 class="card-header">FEDERACION</h3>
          <div class="card-body" id="lita_federacion">
            <ul
              class="list-group list-group-flush"
              *ngFor="let item of dataFederacion"
            >
              <li class="list-group-item">{{ item.descripcion }}</li>
            </ul>
          </div>
          <form [formGroup]="formFormulario" (submit)="insertaFederacion()">
            <div class="card-body">
              <label class="form-label">Ingrese Federacion </label>
              <input
                formControlName="Dato"
                type="text"
                class="form-control mb-2"
                placeholder="Federacion Ecuatoriana"
              />
              <!-- <div *ngIf="formFederacion.get('federacion')?.errors">
                <p
                  *ngIf="formFederacion.get('federacion')?.hasError('required')"
                >
                  Campo requerido
                </p>
                <p *ngIf="formFederacion.get('federacion')?.hasError('ok')">
                  ya en uso
                </p>
              </div> -->
              <button [disabled]="" type="submit" class="btn btn-success">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="btn-group me-2" role="group">
        <!-- provincia -->
        <div class="card mb-3">
          <h3 class="card-header">PROVINCIA</h3>
          <div class="card-body" id="lita_federacion">
            <ul
              class="list-group list-group-flush"
              *ngFor="let item of dataProvincia"
            >
              <li class="list-group-item">{{ item.descripcion }}</li>
            </ul>
          </div>
          <form [formGroup]="formFormulario" (submit)="insertaProvincia()">
            <div class="card-body">
              <label class="form-label">Ingrese Provincia </label>
              <input
                formControlName="Dato"
                type="text"
                class="form-control mb-2"
                placeholder="Provincia"
              />

              <button [disabled]="" type="submit" class="btn btn-success">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="btn-group me-2" role="group">
        <!-- Deporte -->
        <div class="card mb-3">
          <h3 class="card-header">DEPORTE</h3>
          <div class="card-body" id="lita_federacion">
            <ul
              class="list-group list-group-flush"
              *ngFor="let item of dataDeporte"
            >
              <li class="list-group-item">{{ item.descripcion }}</li>
            </ul>
          </div>
          <form [formGroup]="formFormulario" (submit)="insertaDeporte()">
            <div class="card-body">
              <label class="form-label">Ingrese Deporte </label>
              <input
                formControlName="Dato"
                type="text"
                class="form-control mb-2"
                placeholder="Deporte"
              />

              <button [disabled]="" type="submit" class="btn btn-success">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="btn-group me-2" role="group">
      <div class="btn-group me-2" role="group">
        <!-- Categoria edad -->
        <div class="card mb-3">
          <h3 class="card-header">Categoria Edad</h3>
          <div class="card-body" id="dataPrueba">
            <ul
              class="list-group list-group-flush"
              *ngFor="let item of dataCategoriaEdad"
            >
              <li class="list-group-item">{{ item.descripcion }}</li>
            </ul>
          </div>
          <form [formGroup]="formFormulario" (submit)="insertaCategoria_edad()">
            <div class="card-body">
              <label class="form-label">Ingrese categoria </label>
              <input
                formControlName="Dato"
                type="text"
                class="form-control mb-2"
                placeholder="Categoria Edad"
              />

              <button [disabled]="" type="submit" class="btn btn-success">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="btn-group me-2" role="group">
        <!--Etnia  -->
        <div class="card mb-3">
          <h3 class="card-header">Etnia</h3>
          <div class="card-body" id="dataPrueba">
            <ul
              class="list-group list-group-flush"
              *ngFor="let item of dataEtnia"
            >
              <li class="list-group-item">{{ item.descripcion }}</li>
            </ul>
          </div>
          <form [formGroup]="formFormulario" (submit)="insertaEtnia()">
            <div class="card-body">
              <label class="form-label">Ingrese Etnia </label>
              <input
                formControlName="Dato"
                type="text"
                class="form-control mb-2"
                placeholder="Etnia"
              />

              <button [disabled]="" type="submit" class="btn btn-success">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="btn-group me-2" role="group">
        <!--Sector  -->
        <div class="card mb-3">
          <h3 class="card-header">Sector</h3>
          <div class="card-body" id="dataPrueba">
            <ul
              class="list-group list-group-flush"
              *ngFor="let item of dataSector"
            >
              <li class="list-group-item">{{ item.descripcion }}</li>
            </ul>
          </div>
          <form [formGroup]="formFormulario" (submit)="insertaSector()">
            <div class="card-body">
              <label class="form-label">Ingrese Sector </label>
              <input
                formControlName="Dato"
                type="text"
                class="form-control mb-2"
                placeholder="Sector"
              />
              <button [disabled]="" type="submit" class="btn btn-success">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="btn-group me-2" role="group">
        <!-- genero -->
        <div class="card mb-3">
          <h3 class="card-header">Genero</h3>
          <div class="card-body" id="dataPrueba">
            <ul
              class="list-group list-group-flush"
              *ngFor="let item of dataGenero"
            >
              <li class="list-group-item">{{ item.descripcion }}</li>
            </ul>
          </div>
          <form [formGroup]="formFormulario" (submit)="insertaGenero()">
            <div class="card-body">
              <label class="form-label">Ingrese Genero </label>
              <input
                formControlName="Dato"
                type="text"
                class="form-control mb-2"
                placeholder="Genero"
              />
              <button [disabled]="" type="submit" class="btn btn-success">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="btn-group me-2" role="group">
      <div class="btn-group me-2" role="group">
        <!-- Disciplona -->
        <div class="card mb-3">
          <h3 class="card-header">DISCIPLINA</h3>
          <div class="card-body" id="lita_federacion">
            <ul
              class="list-group list-group-flush"
              *ngFor="let item of dataDisciplina"
            >
              <li class="list-group-item">{{ item.descripcion }}</li>
            </ul>
          </div>
          <form [formGroup]="formFormulario" (submit)="insertaDisciplina()">
            <div class="card-body">
              <label class="form-label">Ingrese Disciplina </label>
              <input
                formControlName="Dato"
                type="text"
                class="form-control mb-2"
                placeholder="Disciplina"
              />

              <button [disabled]="" type="submit" class="btn btn-success">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="btn-group me-2" role="group">
        <!-- Prueba -->
        <div class="card mb-3">
          <h3 class="card-header">PRUEBA</h3>
          <div class="card-body" id="lita_federacion">
            <ul
              class="list-group list-group-flush"
              *ngFor="let item of dataPrueba"
            >
              <li class="list-group-item">{{ item.descripcion }}</li>
            </ul>
          </div>
          <form [formGroup]="formFormulario" (submit)="insertaPrueba()">
            <div class="card-body">
              <label class="form-label">Ingrese Prueba </label>
              <input
                formControlName="Dato"
                type="text"
                class="form-control mb-2"
                placeholder="Prueba"
              />

              <button [disabled]="" type="submit" class="btn btn-success">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="btn-group me-2" role="group">
        <!-- Categoria proyecto -->
        <div class="card mb-3">
          <h3 class="card-header">Proyecto</h3>
          <div class="card-body" id="dataPrueba">
            <ul
              class="list-group list-group-flush"
              *ngFor="let item of dataCategoriaProyecto"
            >
              <li class="list-group-item">{{ item.descripcion }}</li>
            </ul>
          </div>
          <form
            [formGroup]="formFormulario"
            (submit)="insertaCategoria_proyecto()"
          >
            <div class="card-body">
              <label class="form-label">Ingrese Proyecto </label>
              <input
                formControlName="Dato"
                type="text"
                class="form-control mb-2"
                placeholder="Categoria Proyecto"
              />

              <button [disabled]="" type="submit" class="btn btn-success">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>
<app-footer></app-footer>
