<app-header></app-header>

<div class="container pt-3">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group me-2" role="group">
            <div class="btn-group me-4" role="group">
                <!--  -->
                <div class="card mb-3">
                    <h3 class="card-header">FEDERACION ECUATORIANA</h3>
                    <div class="card-body" id="lita_federacion">
                        <!-- <h5 class="card-title">Listado</h5> -->
                        <ul class="list-group list-group-flush" *ngFor="let federacion of dataFederacion">
                            <li class="list-group-item">{{federacion.federacion}}</li>
                        </ul>
                    </div>
                    <form [formGroup]="formFederacion" (submit)="insertaFederacion()">
                        <div class="card-body">
                            <label class="form-label">Ingrese Federacion </label>
                            <input formControlName="federacion" type="text" class="form-control mb-2" placeholder="Federacion Ecuatoriana">
                            <div *ngIf="formFederacion.get('federacion')?.errors">
                                <p *ngIf="formFederacion.get('federacion')?.hasError('required')">
                                    Campo requerido
                                </p>
                                <p *ngIf="formFederacion.get('federacion')?.hasError('ok')">
                                    ya en uso
                                </p>
                            </div>
                            <button [disabled]="" type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="btn-group" role="group">
                <!--  -->
                <div class="card mb-3">
                    <h3 class="card-header">PROVINCIA</h3>
                    <div class="card-body" id="lita_federacion">
                        <!-- <h5 class="card-title">Listado</h5> -->
                        <ul class="list-group list-group-flush" *ngFor="let provincia of dataProvincia">
                            <li class="list-group-item">{{provincia.provincia}}</li>
                        </ul>
                    </div>
                    <form [formGroup]="formProvincia" (submit)="insertaProvincia()">
                        <div class="card-body">
                            <label class="form-label">Ingrese Provincia </label>
                            <input formControlName="provincia" type="text" class="form-control mb-2" placeholder="Federacion Ecuatoriana">
                            <div *ngIf="formFederacion.get('federacion')?.errors">
                                <p *ngIf="formFederacion.get('federacion')?.hasError('required')">
                                    Campo requerido
                                </p>
                                <p *ngIf="formFederacion.get('federacion')?.hasError('ok')">
                                    ya en uso
                                </p>
                            </div>
                            <button [disabled]="" type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="btn-group me-2" role="group">
            <div class="btn-group me-4" role="group">
                <!--  -->
                <div class="card mb-3">
                    <h3 class="card-header">DEPORTE</h3>
                    <div class="card-body" id="lita_federacion">
                        <!-- <h5 class="card-title">Listado</h5> -->
                        <ul class="list-group list-group-flush" *ngFor="let deporte of dataDeporte">
                            <li class="list-group-item">{{deporte.deporte}}</li>
                        </ul>
                    </div>
                    <form [formGroup]="formFederacion">
                        <div class="card-body">
                            <label class="form-label">Ingrese Deporte </label>
                            <input formControlName="provincia" type="text" class="form-control mb-2" placeholder="Federacion Ecuatoriana">
                            <div *ngIf="formFederacion.get('federacion')?.errors">
                                <p *ngIf="formFederacion.get('federacion')?.hasError('required')">
                                    Campo requerido
                                </p>
                                <p *ngIf="formFederacion.get('federacion')?.hasError('ok')">
                                    ya en uso
                                </p>
                            </div>
                            <button [disabled]="" type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="btn-group" role="group">
                <!--  -->
                <!-- <div class="card mb-3">
                    <h3 class="card-header">Card header</h3>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                    </div>

                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div> -->
            </div>

        </div>



    </div>
</div>
<app-footer></app-footer>