<app-header></app-header>



<div class="container p-4">
    <!-- <form [formGroup]="formTouch" (submit)="getTouch()" enctype="multipart/form-data"> -->

    <div align="center">
        <h2><strong>SELECCION DE ARCHIVOS</strong></h2>
    </div>

    <div class="form-group">
        <label for="formFile" class="form-label mt-4 ">Seleccione Excel</label>
        <input (change)="onFileChange($event)" class="form-control" type="file" multiple="false">
    </div>
    <table id="TheTable" class="table table-striped">
        <thead #header>
            <tr>
                <th *ngFor="let headValue of headData">
                    {{headValue}}
                </th>
            </tr>
        </thead>
        <tbody #container>
            <tr *ngFor="let row of data">
                <td *ngFor="let val of headData; let i =index">
                    {{row[i] || ' '}}
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <div *ngIf="previsualizacion">
        <img [src]="previsualizacion">
    </div> -->

    <!-- <div class="form-group">
        <label for="formFile" class="form-label mt-4 ">Seleccione PDF</label>
        <input formControlName="pdf" name="pdf" class="form-control" type="file">
    </div> -->
    <div>
        <button type="button" (click)="subirArchivo()" class="btn btn-primary">Enviar</button>
    </div>
    <!-- </form> -->
</div>
<app-footer></app-footer>