<app-header></app-header>

<div class class="container p-3">
  <!-- <form [formGroup]="formTouch" (submit)="getTouch()" enctype="multipart/form-data"> -->

  <div>
    <h2 align="center"><strong>SELECCION DE ARCHIVOS</strong></h2>
    <button
      style="float: right"
      (click)="descargarExcel2()"
      class="btn btn-secondary"
    >
      DESCARGA FORMATO (.xlsx)
    </button>
  </div>

  <div class="form-group">
    <label for="formFile" class="form-label mt-4">Seleccione Excel</label>
    <input
      (change)="onFileChange($event)"
      class="form-control"
      type="file"
      multiple="false"
    />
  </div>
  <div class="form-group">
    <label for="formFile" class="form-label mt-4">Seleccione PDF</label>
    <input
      (change)="capturaPDF($event)"
      class="form-control"
      type="file"
      id="PDF"
    />
  </div>
  <br />
  <!-- <div class="alert alert-dismissible alert-danger" *ngIf="warning">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h4 class="alert-heading">Warning!</h4>
    <p class="mb-0">{{ mensajeWarning }}</p>
  </div> -->
  <div
    class="card border-danger mb-3 p-2"
    *ngIf="
      warning01 ||
      warning02 ||
      warning03 ||
      warning04 ||
      warning05 ||
      warning06 ||
      warning07 ||
      warning08 ||
      warning09 ||
      warning10
    "
  >
    <p class="text-danger" *ngIf="warning01">
      {{ mensajeWarningCategoriaEdad }}
    </p>
    <p class="text-danger" *ngIf="warning02">{{ mensajeWarningProvincia }}</p>
    <p class="text-danger" *ngIf="warning03">
      {{ mensajeWarningCategoriaProyecto }}
    </p>
    <p class="text-danger" *ngIf="warning04">{{ mensajeWarningEtnia }}</p>
    <p class="text-danger" *ngIf="warning05">{{ mensajeWarningSector }}</p>
    <p class="text-danger" *ngIf="warning06">{{ mensajeWarningFederacion }}</p>
    <p class="text-danger" *ngIf="warning07">{{ mensajeWarningDeporte }}</p>
    <p class="text-danger" *ngIf="warning08">{{ mensajeWarningDisciplina }}</p>
    <p class="text-danger" *ngIf="warning09">{{ mensajeWarningPrueba }}</p>
    <p class="text-danger" *ngIf="warning10">{{ mensajeWarningGenero }}</p>
  </div>
  <br />
  <div class="tabla_ver" *ngIf="tabla_ver">
    <br />
    <h2>Datos a enviar</h2>
    <table id="TheTable" class="table table-striped">
      <thead #header>
        <tr>
          <th *ngFor="let headValue of headData">
            {{ headValue }}
          </th>
        </tr>
      </thead>
      <tbody #container>
        <tr *ngFor="let row of data">
          <td *ngFor="let val of headData; let i = index">
            {{ row[i] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
  <br />
  <div class="pdf_ver" *ngIf="pdf_ver">
    <pdf-viewer
      [src]="pdfSrc"
      [render-text]="true"
      [show-all]="true"
      style="display: block"
    ></pdf-viewer>
  </div>

  <div>
    <br />
    <br />
    <button
      type="button"
      (click)="subirArchivo()"
      class="btn btn-success"
      [disabled]="loading"
    >
      {{ loading }}
      Enviar
    </button>
    <span *ngIf="loading"
      ><img
        src="../../../assets/imagenes/loading-11.gif"
        width="50"
        height="50"
    /></span>
  </div>
</div>
<app-footer></app-footer>
